*{
	text-align: center;
	padding: 0;
	font-family: lato;
	color:#333;
}
section{
	padding: 100px 0px;
}
.brand{
	width:20px;
	height: 20px;
}
.right{
	float:right;
}
.constant-padding{
	padding: 0 115px;
}
header{
	position: fixed;
	top:0px;
	width: 100%;
	transition: all 0.4s ease;
}
.scroll-btn{
	transition: all 0.4s ease;
}
.outer{
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	display: table;
	width:100%; 
}
.outer .container{
	display: table-cell;
	height:73vh;
	vertical-align: middle;
}
.img-responsive{
	display: inline-block !important;
}
@media only screen and (max-width:767px){
	section{
		padding: 50px 0 60px;
	}
	.constant-padding{
		padding: 0 15px;
	}
}
#skills ul{
	list-style: none;
	padding: 0px;
	font-size:14px;
}
#skills ul li{
	padding: 10px 0;
}
.row{
	margin-right:-15px;
	margin-left: -15px;
}
.blog{
	margin-bottom:40px;
}
.blog .blog-content p{
	text-align: left !important;
}
.blog .blog-content h3{
	text-align: left !important;
}
#contact  ul{
	list-style: none;
	padding: 0;
}
#contact .social{
	margin-bottom: 0;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
}
#contact ul li{
	padding: 10px 0;
}
#contact ul.social li a i.social-icon{
    padding: 0 25px 0 0;
    font-size: 18px;
    width: 30px;
    margin: 7px;
}
#footer img{
	width: 30px;
	display: inline-block;
	margin-bottom: 20px;
}
#cd-lateral-nav {
    background-color: #fff;
	color:#000000;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 9999;
    width: 300px;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -webkit-transition: -webkit-transform .4s 0s,visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s,visibility 0s .4s;
    transition: transform .4s 0s,visibility 0s .4s;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -ms-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
}
#cd-lateral-nav .cd-navigation {
    margin: 0 32px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
@media only screen and (min-width: 768px){
#cd-lateral-nav .cd-navigation {
    margin: 20px 0;}
}
#cd-lateral-nav ol, #cd-lateral-nav ul {
    list-style: none;
}
#cd-lateral-nav .cd-navigation li {
    padding: 20px 0 0;
}
#cd-lateral-nav a {
    padding: 0 16px 0 0;
    font-weight: 500;
    font-size: 14px;
    color: #666;
    line-height: 2em;
}
#cd-lateral-nav .exit{
	position:fixed;
	top:15px;
	right:15px;
}
#cd-lateral-nav .cd-navigation {
    margin: 0 32px;
    padding-bottom: 15px;
}
#cd-lateral-nav ul{
	padding: 0;
}
#cd-lateral-nav .cd-navigation.footer-border {
    margin: 5px;
    text-align: center;
    border-bottom: 0;
    border-top: 1px solid #eee;
    padding: 10px 0 5px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#cd-lateral-nav .cd-navigation.social-media {
    margin-top: 0;
    padding-bottom: 0;
}
#cd-lateral-nav .cd-navigation.footer-border li {
    padding: 0;
    color:#333;
}
.overlay {
    display: none;
    position: fixed;
    z-index:9999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -40px;
    opacity: 0;
    pointer-events: none;
    cursor:pointer;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    background-color: #333;
}
.sticky{
	background-color: #fff; 
}
#about{
	padding: 60px 0;
}
#about p {
	text-align: left;
}
#work,#blog{
	background-color: #fafafa;
}
#footer{
	background-color: #333;
	padding: 70px 0 50px 0;
}
.copyright-info{
	margin-top: 5px;
    font-size: 12px;
    color: #fff;
    opacity: .72;
    text-align:center;
}
#footer .copyright-info i{
	color:white;
}
h4{
	font-size:18px;
	line-height: 21px;
    font-weight: 400;
    margin: -5px 0 30px;
}
h5{
	font-size: 16px;
    line-height: 1.6em;
    margin: 20px 0 0;
    font-weight: 400;
}
h6{
	margin-bottom: 40px;
    font-size: 11px !important;
}
h1.heading{
	font-size: 30px;
    line-height: 1.4em;
    font-weight: 500;
    text-align: center;
}
.subheading{
	max-width: 520px;
    margin: 20px auto 60px;
    text-align: center;
}
.other-text,.subheading{
	font-size: 16px;
    line-height: 1.7em;
    color: #999;
}
#about{
	padding:50px 0 40px 0;
	color: #666;
    line-height: 1.6em;
    font-style: italic;
    font-weight: 500;
}
#skills .heading,#blog .heading{
	margin-bottom: 60px;
}
