section{
	padding: 100px 0px;
}
.container{
	text-align: center;
}
.brand{
	width:20px;
	height: 20px;
}
.right{
	float:right;
}
.constant-padding{
	padding: 0 115px;
}
header{
	position: absolute;
	top:0px;
	width: 100%;
}
.outer{
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	display: table;
	height: 100%;
	width:100%; 
}
.outer .container{
	display: table-cell;
	height:73vh;
	vertical-align: middle;
}